<div class="grid grid-flow-row gap-4 items-start">
    <div
        class="grid grid-flow-col grid-rows-1 gap-4 items-start"
    >
        <div class="bg-white rounded p-2 font-mono">
            {{moment-format this.clock.time}}
        </div>
    </div>
</div>