<div class={{concat "flex flex-row w-full " @class}}>
    <Button
        @label="Start"
        @color="green"
        @action={{@start}}
        @class="mr-1"
    />

    <Button
        @label="Stop"
        @color="red"
        @action={{@stop}}
        @class="mx-1"
    />

    <Button
        @label="Reset"
        @color="orange"
        @action={{@reset}}
        @class="ml-1"
    />
</div>
